body {
    background-color: #121213;
}

#header {
    padding: 150px, 0px, 150px, 0px;
    height: 100px;
    text-align: center;
    color: white;
    font-size: xx-large;
    border-bottom: 1px;
    border-color: white;
}

#gameboard {
    width: 50%;
    margin: auto;
}

#guess {
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius:10px;
    border: 2px solid #818384;
    font-size: 5vw;
    text-align: center;
    background-color: #121213;
    color: white;
}

#keyboard {
    height: 200px;
    margin: 15px 8px;
}

.keyRow {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    justify-content: center;
}

.key {
    border: 0;
    margin: 0 6px 0 0;
    height: 58px;
    width: 50px;
    border-radius: 4px;
    background-color: #818384;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#submitButton {
    height:50px;
    width:150px;
    border-radius:4px;
    border: none;
    color: white;
    background-color: #818384;
    font-weight: bold;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(0,0,0, 0.7);
}

#modal {
    max-width: 600px;
    height: 300;
    margin: auto;
    background-color: #121213;
    position: absolute;
    top: 20%;
    bottom: 30%;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    border-radius: 4px;
}

#close_btn {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}